fastapi==0.116.1
pydantic==2.11.7
python-dotenv==1.0.0
supabase==2.18.0
postgrest==1.1.1
pytz==2025.2
pandas==2.3.1
numpy==1.26.4
xgboost==3.0.2
scikit-learn==1.7.0
scikit-surprise==1.1.4
rapidfuzz==3.13.0
uvicorn==0.35.0